$yng-black-primary: mat-palette($mat-grey, 700, 300, 900);
$yng-black-accent: mat-palette($mat-blue-grey, 400);
$yng-black-warn: mat-palette($mat-red, 500);

$yng-black-theme: mat-dark-theme(
  $yng-black-primary,
  $yng-black-accent,
  $yng-black-warn
);
