$yng-light-primary: mat-palette($mat-grey, 200, 500, 300);
$yng-light-accent: mat-palette($mat-brown, 200);
$yng-light-warn: mat-palette($mat-deep-orange, 200);

$yng-light-theme: mat-light-theme(
  $yng-light-primary,
  $yng-light-accent,
  $yng-light-warn
);
