$yng-nature-primary: mat-palette($mat-brown, 700, 300, 900);
$yng-nature-accent: mat-palette($mat-deep-purple, 300);
$yng-nature-warn: mat-palette($mat-red, 600);

$yng-nature-theme: mat-light-theme(
  $yng-nature-primary,
  $yng-nature-accent,
  $yng-nature-warn
);
